{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Image</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
{% endblock %}

</head>

<body>
    <button onclick="goBack()" style="font-family: 'Gloria Hallelujah', cursive;">Go Back</button>
    <br>
    <br>
    <br>

    <script>
    function goBack() {
      window.history.back();
    }
    </script>
    
  <div class="container">
    
      <h1 style="font-family: 'Gloria Hallelujah', cursive;">Fill this form to create new post</h1>
      <br>
    <form  action="{%url 'new-image'%}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form%}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}
   {% endblock %}
  </div>
</body>
</html>