{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}

<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
<br>
<div class="container">
  <body style="background-color:#FCFDFE; ">
    <img src="{{profile.profile_photo.url}}" class="radius" class="img-responsive" alt="Image" style="width:100px; height:100px; border-radius:50%; float: right; margin-left:-500px">
    <br>
    <br>
    <br>
    <br>
 <h1 style="text-align:right; color:beige;margin-left:50px; font-family:'Indie Flower', cursive;">My profile</h1> 

  <div class="row" style="color:beige;" >
    
 
                    <h1 style="text-align:right;">{{profile.user}}</h1>
                   
                
    <p style="font-size:20px; text-align:right;"><q>{{profile.bio}}</q></p>

 
  
</div>
<br>



  <div class="row">
  <p class="text-center">our posts</p>

    {% for photo in photos %}

    <div class="col-md-4">

      <img src="{{photo.image.url}}" class="img-responsive" alt="Image">

      </div>


    {% empty %}
    <h2 class="text-center">There are no photos yet</h2>

    {% endfor %}
  </div>

</body>
</div>
{% endblock %}
</div>
