
{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}

<br>

<div class="container">
  

<body style="background-color:#F2F3F4">
    <div class="row">

  {% for photo in photos %}
      <div class="col-md-8">


        <div class="panel panel-default">
      <div class="panel panel-header">
      <p>  <img src="{{photo.profile_photo.url}}">
      <strong>{{photo.profile}}</strong></p>


    </div>
      <div class="panel panel-body">

      <a href="{% url 'imagedetails' photo.id %}">  <img src="{{photo.image.url}}" class="img-responsive" alt="Image" style="width:800px;height:800px;"></a>


      <h4 class="btn btn-lg"><i class="glyphicon glyphicon-heart-empty" style="font-size:24px;color:black;"></i></h4>{{photo.likes}}
          <a href="{%url 'new-comment'%}"> <h4 class="btn btn-lg" ><i class="glyphicon glyphicon-comment" style="font-size:24px;color:black;"></i> </h4> </a>{{photo.comments}}

          <br>

      <p>{{photo.caption}}</p>


    </div>
      <div class="panel panel-footer">

      </div>

    </div>

    </div>



  {% empty %}
  <h2 class="text-center">There are no photos yet</h2>

  {% endfor %}




</div>




</body>
</div>

{% endblock %}